<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:vin="Vinou\VinouConnector\ViewHelpers"
	  data-namespace-typo3-fluid="true">

<div class="item">
	<f:if condition="{bundle.image} && {bundle.image}!=''">
		<f:then>
			<f:image src="{vin:CacheApiImage(image:bundle.image,tstamp:bundle.chstamp)}" maxWidth="{settings.list.regular.image.maxWidth}" maxHeight="{settings.list.regular.image.maxHeight}"/>
		</f:then>
	</f:if>
	<h2>{bundle.name}</h2>
	<f:if condition="{settings.list.regular.text.crop}">
		<f:then>
			<p><f:format.crop maxCharacters="{settings.list.regular.text.crop}" append="{settings.list.regular.text.append}">{bundle.description}</f:format.crop></p>
		</f:then>
		<f:else>
			<p>{bundle.description}</p>
		</f:else>
	</f:if>
	<f:link.action action="detail" pageUid="{settings.detailPid}" arguments="{bundle:bundle.id}" class="vinouButton more">
		<f:translate key="LLL:EXT:vinou_connector/Resources/Private/Language/locallang.xlf:list.more"/>
	</f:link.action>
</div>

</html>