<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:vin="Vinou\VinouConnector\ViewHelpers"
	  data-namespace-typo3-fluid="true">

<div class="item">
	<div class="inner">
		<div class="image">
			<f:if condition="{wine.image} && {wine.image}!=''">
				<f:then>
					<f:image src="{vin:CacheApiImage(image:wine.image,tstamp:wine.chstamp)}" maxWidth="{settings.list.slider.image.maxWidth}" maxHeight="{settings.list.slider.image.maxHeight}"/>
				</f:then>
			</f:if>
		</div>
		<div class="description">
			<h2>{wine.name}</h2>
			<f:if condition="{settings.list.slider.text.crop}">
				<f:then>
					<p><f:format.crop maxCharacters="{settings.list.slider.text.crop}" append="{settings.list.slider.text.append}">{wine.description}</f:format.crop></p>
				</f:then>
				<f:else>
					<p>{wine.description}</p>
				</f:else>
			</f:if>
			<f:link.action action="detail" pageUid="{settings.detailPid}" arguments="{wine:wine.id}" class="vinouButton more">
				<f:translate key="LLL:EXT:vinou_connector/Resources/Private/Language/locallang.xlf:list.more"/>
			</f:link.action>
		</div>
	</div>
</div>

</html>