{namespace vin=Vinou\VinouConnector\ViewHelpers}
<div class="item">
	<f:image src="{vin:CacheApiImage(image:wine.image,tstamp:wine.chstamp)}" maxWidth="{settings.list.regular.image.maxWidth}" maxHeight="{settings.list.regular.image.maxHeight}"/>
	<h2>{wine.name}</h2>
	<f:if condition="{settings.list.regular.text.crop}">
		<f:then>
			<p><f:format.crop maxCharacters="{settings.list.regular.text.crop}" append="{settings.list.regular.text.append}">{wine.description}</f:format.crop></p>
		</f:then>
		<f:else>
			<p>{wine.description}</p>
		</f:else>
	</f:if>
	<a href="{wine.expertiseFile}" target="_blank" class="vinouButton">Expertise</a>
	<f:link.action action="detail" pageUid="{settings.detailPid}" arguments="{wine:wine.id}" class="vinouButton more">
		<f:translate key="LLL:EXT:vinou_connector/Resources/Private/Language/locallang.xlf:list.more"/>
	</f:link.action>
</div>