<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:vin="Vinou\VinouConnector\ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
	<f:switch expression="{settings.templateLayout}">
		<f:defaultCase>
			<div class="vinou-suppliers-list regular" data-count="{f:if(condition:'{settings.itemsPerRow}',then:'{settings.itemsPerRow}',else:'5')}">
				<ul>
					<f:for each="{suppliers}" as="winery">
						<li>{supplier.company}</li>
					</f:for>
				</ul>
			</div>
		</f:defaultCase>
	</f:switch>
</f:section>

</html>