<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:vin="Vinou\VinouConnector\ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">

	<f:switch expression="{settings.itemsPerRow}">
		<f:case value="3">
			<f:variable name="itemGridClasses" value="medium-6 large-4" />
		</f:case>
		<f:case value="2">
			<f:variable name="itemGridClasses" value="medium-6 large-6" />
		</f:case>
		<f:defaultCase>
			<f:variable name="itemGridClasses" value="medium-6 large-4" />
		</f:defaultCase>
	</f:switch>

	<f:switch expression="{settings.templateLayout}">
		<f:defaultCase>
			<div class="grid-x grid-margin-x grid-margin-y">
				<f:for each="{suppliers}" as="supplier">
					<div class="cell {itemGridClasses}">
						<f:render partial="Suppliers/ListItem" arguments="{supplier: supplier, type: supplier.type, settings: settings}"/>
					</div>
				</f:for>
			</div>
		</f:defaultCase>
	</f:switch>
</f:section>

</html>