{namespace vin=Vinou\VinouConnector\ViewHelpers}
<f:layout name="DefaultMail" />

<f:section name="mailcontent">
	<h3>Vielen Dank!</h3>
	<p>Wir haben ihre Bestellung wie folgt erhalten.<br><br></p>

	<table border="0" cellspacing="0" cellpadding="10" style="border: 1px solid #999999; border-collapse: collapse; width: 100%">
		<tr>
			<td style="border: 1px solid #999999;" colspan="2">
				<p><b>Rechnungsadresse:</b><br>
					<f:if condition="{order.billing.company}">Firma: {order.billing.company}<br></f:if>
					Name: {order.billing.first_name} {order.billing.last_name} <br>
					Straße: {order.billing.address}<br>
					PLZ/Ort: {order.billing.zip} {order.billing.city} <br>
					Email: {order.client.mail}<br>
					<f:if condition="{order.client.phone}">Tel: {order.client.phone}<br></f:if>
				</p>
			</td>
			<td style="border: 1px solid #999999;" colspan="2">
				<p><b>Die Lieferung erfolgt an:</b><br>
					<f:if condition="{order.delivery.company}">Firma: {order.delivery.company}<br></f:if>
					Name: {order.delivery.first_name} {order.delivery.last_name} <br>
					Straße: {order.delivery.address}<br>
					PLZ/Ort: {order.delivery.zip} {order.delivery.city} <br>
				</p>
			</td>
		</tr>
		<tr>
			<td colspan="4" style="border: 1px solid #999999;">
				<p><b>Zahlungsart:</b><br>
				<f:translate key="LLL:EXT:vinou_connector/Resources/Private/Language/locallang.xlf:payment.{order.payment_type}"/></p>
			</td>
		</tr>
		<tr>
			<td colspan="4" style="border: 1px solid #999999;">
				<p><b>Ihre Nachricht an uns:</b><br>
				{order.note}<br></p>
			</td>
		</tr>
		<tr>
			<td style="border: 1px solid #999999;"><b>Artikel</b></td>
			<td style="border: 1px solid #999999;"><b>Nummer</b></td>
			<td style="border: 1px solid #999999;"><b>Stückzahl</b></td>
			<td style="border: 1px solid #999999;"><b>Preis</b></td>
		</tr>
		<f:for each="{order.positions}" as="item">
			<tr>
				<td style="border: 1px solid #999999;"><f:if condition="{item.item.vintage}">{item.item.vintage} </f:if>{item.item.name}</td>
				<td style="border: 1px solid #999999;">{item.item.articlenumber}</td>
				<td style="border: 1px solid #999999;">{item.quantity}</td>
				<td style="border: 1px solid #999999;"><f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator="." separateCurrency="true" decimals="2">{vin:priceCalc(price:item.item.gross,quantity:item.quantity)}</f:format.currency></td>
			</tr>
		</f:for>
		<f:if condition="{order.package}">
			<tr>
				<td colspan="3" style="border: 1px solid #999999;">Versand und Verpackung</td>
				<td style="border: 1px solid #999999;"><f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator="." separateCurrency="true" decimals="2">{order.package.gross}</f:format.currency></td>
			</tr>
		</f:if>
		<f:for each="{order.campaigns}" as="campaign">
			<tr>
				<td colspan="3" style="border: 1px solid #999999;">Rabatt-Aktion: {campaign.item.name} ({campaign.item.hash})<br>{campaign.item.description}</td>
				<td style="border: 1px solid #999999;"><f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator="." separateCurrency="true" decimals="2">{campaign.gross}</f:format.currency></td>
			</tr>
		</f:for>
		<tr>
			<td colspan="3" style="border: 1px solid #999999;"><b>Gesamtsumme (Netto)</b></td>
			<td style="border: 1px solid #999999;"><f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator="." separateCurrency="true" decimals="2">{order.net}</f:format.currency></td>
		</tr>
		<tr>
			<td colspan="3" style="border: 1px solid #999999;"><b>MwSt.</b></td>
			<td style="border: 1px solid #999999;"><f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator="." separateCurrency="true" decimals="2">{order.tax}</f:format.currency></td>
		</tr>
		<tr>
			<td colspan="3" style="border: 1px solid #999999;"><b>Gesamtsumme (Brutto)</b></td>
			<td style="border: 1px solid #999999;"><f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator="." separateCurrency="true" decimals="2">{order.gross}</f:format.currency></td>
		</tr>
	</table>
	<p>Ihre Bestellung wird schnellstmöglich bearbeitet.</p>
	
</f:section>
