{namespace vin=Vinou\VinouConnector\ViewHelpers}
<f:layout name="DefaultMail" />

<f:section name="mailcontent">
	<h3>Hallo!</h3>
	<p>
		Dein Passwort wurde zurückgesetzt. Mit dem folgenden Link kannst Du Dein Passwort neu setzen.<br><br>
		<a href="{link}" target="_blank" class="button">Passwort zurücksetzen</a><br><br>Nutze diesen Link <a href="{link}" target="_blank">{link}</a> sollte der Knopf nicht richtig dargestellt werden.<br>
		<br>
		<strong>ACHTUNG!!!</strong><br>
		Dieser Link läuft am {{expire}} Uhr ab.
	</p>
</f:section>