<f:layout name="Default" />

<f:section name="main">

	<f:comment><f:render partial="Shop/Messages" arguments="{_all}"/></f:comment>

	<f:flashMessages class="code_message" />
	<div class="product-basket">
		<f:if condition="{items->f:count()}>0">
			<f:then>
				<table border="0" cellpadding="0" cellspacing="0" class="alternatedtable">
					<thead>
						<tr>
							<th><f:translate key="basket.table.position"/></th>
							<th><f:translate key="basket.table.product"/></th>
							<th><f:translate key="basket.table.quantity"/></th>
							<th class="align-right"><f:translate key="basket.table.pricenet"/></th>
							<th class="align-right"><f:translate key="basket.table.pricegross"/></th>
						</tr>
					</thead>
					<tbody>
						<f:for each="{items}" as="position">
							<tr>
								<td>{position.index}</td>
								<td>
									<f:if condition="{settings.detailPid}">
										<f:then>
											<f:link.action action="detail" pageUid="{settings.detailPid}" arguments="{product:position.product.uid,backPid:currentPid}">{position.product.title}</f:link.action>
										</f:then>
										<f:else>
											{position.product.title}
										</f:else>
									</f:if>
									<f:link.action action="basket" arguments="{delete:position.uid}"><i class="fa fa-trash-o" aria-hidden="true"></i></f:link.action>
								</td>
								<td>{position.quantity}</td>
								<td class="price align-right"><f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator="." separateCurrency="true" decimals="2">{position.net}</f:format.currency></td>
								<td class="price align-right"><f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator="." separateCurrency="true" decimals="2">{position.gross}</f:format.currency></td>
							</tr>
						</f:for>
						<tr>
							<td colspan="4"><strong><f:translate key="basket.sum.net"/></strong></td>
							<td class="price align-right"><strong><f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator="." separateCurrency="true" decimals="2">{basket.net}</f:format.currency></strong></td>
						</tr>
						<tr>
							<td colspan="4"><f:translate key="basket.sum.tax"/></td>
							<td class="price align-right"><f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator="." separateCurrency="true" decimals="2">{basket.tax}</f:format.currency></td>
						</tr>
						<tr>
							<td colspan="4"><strong><f:translate key="basket.sum.gross"/></strong></td>
							<td class="price align-right"><strong><f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator="." separateCurrency="true" decimals="2">{basket.gross}</f:format.currency></strong></td>
						</tr>
					</tbody>
				</table>

				<div id="basket-errors">
					<f:switch expression="{validation}">
						<f:case value="minBasketSize">
							<p class="inline-message basket-warnings" data-type="warning" data-status="visible">
								<span class="title">Mindestbestellmenge nicht erreicht</span>
								<span class="description">Du hast noch nicht die nötige Mindestbestellmenge von <strong>{settings.basket.minBasketSize} Flaschen</strong> im Warenkorb</span>
							</p>
						</f:case>
						<f:case value="packageSteps">
							<p class="inline-message basket-warnings" data-type="warning"  data-status="visible">
								<span class="title">Falsche Bestellmenge</span>
								<span class="description">Die größe Deines Warenkorbes entspricht nicht unseren Versandstaffeln. <strong>Wir versenden unsere Ware nur in <f:for each="{vin:explode(string: settings.basket.packageSteps)}" as="step" iteration="i">{step}{f:if(condition:'{i.isLast}', then: 'er', else: ', ')}</f:for> er Kartons</strong>.</span>
							</p>
						</f:case>
					</f:switch>
				</div>

				<div class="basket-control inline-table basket-controls bottom" data-status="{f:if(condition: '{validation}==\'valid\'',then:'visible',else:'hidden')}">
					<div class="table-cell align-left">
						<f:link.action action="basket" arguments="{delete:'all'}" class="clearall regular-button"><i class="fa fa-trash-o" aria-hidden="true"></i> <f:translate key="basket.clearall"/></f:link.action>
					</div>
					<div class="table-cell align-right">
						<f:link.action action="order" class="order regular-button" pageUid="{settings.orderPid}"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <f:translate key="basket.order"/></f:link.action>
					</div>
				</div>
			</f:then>
			<f:else>
				<p><f:translate key="basket.empty"/></p>
			</f:else>
		</f:if>
	</div>
</f:section>