<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:vin="Vinou\VinouConnector\ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
	<f:if condition="{error}">
		<f:then>
			<p><strong>ACHTUNG!!!</strong> Ein Fehler ist aufgetreten. Die Bestellung konnte nicht abgeschlossen werden. Bitte wende dich an einen Administrator.</p>
		</f:then>
		<f:else>
			<h3>Vielen Dank</h3>
			<p>Wir haben Ihre Bestellung mit der <strong>Nummer {order.number}</strong> erhalten. Eine Bestätigung finden Sie in Ihrem Mail-Postfach</p>
		</f:else>
	</f:if>

</f:section>

</html>