<f:layout name="Default" />

<f:section name="main">
	<div class="vinou-shop">
		<div class="vinou-shop-clusters" id="vinou-clusters">
			<f:for each="{clusters}" as="cluster" key="clustername">
				<f:switch expression="{clustername}">
					<f:case value="categories">
						<f:render partial="Shop/ClusterGroup" arguments="{cluster: settings.manualFilter.category,clustername:clustername,label:'category.label'}" />
					</f:case>
					<f:case value="type">
						<f:render partial="Shop/ClusterGroup" arguments="{cluster: settings.manualFilter.type,clustername:clustername,label:clustername}" />
					</f:case>
					<f:defaultCase>
						<f:render partial="Shop/ClusterGroup" arguments="{cluster: cluster,clustername:clustername,label:clustername}" />
					</f:defaultCase>
				</f:switch>
			</f:for>
		</div>
		<div class="vinou-shop-list regular" id="vinou-list" data-items-per-page="10">
			<ul class="pagination top"></ul>
			<ul class="list">
				<f:for each="{items}" as="item" iteration="index">
					<f:render partial="Shop/ListItem" arguments="{item: item,settings:settings}" />
				</f:for>
			</ul>
			<ul class="pagination bottom"></ul>
		</div>
	</div>
</f:section>