<f:layout name="Wines" />

<f:section name="main">
	<div class="shoplist">
		<div class="vinou-clusters col-sm-3">
			<f:for each="{clusters}" as="cluster" key="clustername">
				<f:switch expression="{clustername}">
					<f:case value="categories">
						<f:render partial="Shop/ClusterCategory" arguments="{cluster: settings.manualFilter.category,clustername:clustername,label:'category.label'}" />
					</f:case>
					<f:defaultCase>
						<f:render partial="Shop/ClusterGroup" arguments="{cluster: cluster,clustername:clustername,label:clustername}" />
					</f:defaultCase>
				</f:switch>
			</f:for>
		</div>
		<div class="col-sm-9 vinou-wine-list regular" id="vinou-shoplist" data-items-per-page="10">
			<ul class="pagination top"></ul>
			<ul class="list">
				<f:for each="{wines}" as="wine" iteration="index">
					<f:render partial="Shop/ListItem" arguments="{wine: wine,settings:settings}" />
				</f:for>
			</ul>
			<ul class="pagination bottom"></ul>
		</div>
	</div>
</f:section>