<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="Vinou\VinouConnector\ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Small" />

<f:section name="main">

	<f:flashMessages />
	<f:if condition="{result.link}">
		<f:then>
			<h3>Link angefordert</h3>
			<p>Du hast eine E-Mail erhalten, mit der Du Dein Passwort zurücksetzen kannst</p>
			<f:flashMessages />
		</f:then>
		<f:else>
			<h3>Passwort-Link anfordern</h3>
			<f:flashMessages />
			<f:form
				action="lostPassword"
				enctype="multipart/form-data">

				<fieldset>
					<div class="form-field">
						<label>E-Mail-Adresse:</label>
						<f:form.textfield name="mail" value="" required="TRUE" />
					</div>
					<div class="form-field">
						<f:form.submit value="Link anfordern" />
					</div>
				</fieldset>
			</f:form>
		</f:else>
	</f:if>

</f:section>

</html>