<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:vin="Vinou\VinouConnector\ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Small" />

<f:section name="main">

	<f:flashMessages />
	<f:if condition="{result}">
		<f:then>
			<h3>Passwort gesetzt</h3>
			<p>Dein Passwort wurde neu gesetzt. Du kannst Dich jetzt mit Deinen Zugangsdaten anmelden<br>
				<f:link.page pageUid="{settings.pages.loginPid}" class="button">Jetzt Anmelden</f:link.page>
			</p>
		</f:then>
		<f:else>
			<h3>Passwort zurücksetzen</h3>
			<f:flashMessages />
			<f:if condition="{mail} && {hash}">
				<f:form
					action="resetPassword"
					enctype="multipart/form-data">

					<f:form.hidden name="mail" value="{mail}"/>
					<f:form.hidden name="hash" value="{hash}"/>

					<fieldset>
						<div class="form-field">
							<label>Passwort setzen:</label>
							<f:form.password name="password" value="" />
						</div>
						<div class="form-field">
							<label>Passwort wiederholen:</label>
							<f:form.password name="password_repeat" value="" />
						</div>
						<div class="form-field">
							<f:form.submit value="Passwort setzen" />
						</div>
					</fieldset>
				</f:form>
			</f:if>
		</f:else>
	</f:if>

</f:section>

</html>