{namespace vin=Interfrog\Vinou\ViewHelpers}
<f:layout name="Wines" />

<f:section name="main">
	<div class="vinouWineDetails">
		<h1>{wine.name}</h1>
		<f:debug>{wine.facts}</f:debug>
		<div class="overview">
			<div class="image">
				<f:image src="{vin:CacheApiImage(image:wine.image,tstamp:wine.chstamp)}" maxWidth="{settings.detail.image.maxWidth}" maxHeight="{settings.detail.image.maxHeight}"/>
			</div>
			<div class="description">
				<table border="0" cellspacing="0" cellpadding="0" class="wineFacts">
					<f:for each="{wine.facts}" as="value" key="label">
						<f:render partial="Detail/Fact" arguments="{label:label,value:value}" />
					</f:for>
				</table>
				<f:if condition="{wine.description}">
					<f:then>
						<p>{wine.description -> f:format.nl2br()}</p>
					</f:then>
				</f:if>
				<f:if condition="{backPid}">
					<f:then>
						<f:link.page pageUid="{backPid}" class="vinouButton back"><f:translate key="detail.back"/></f:link.page>
					</f:then>
				</f:if>
			</div>
		</div>
	</div>
</f:section>