<f:layout name="Wines" />

<f:section name="main">
	<f:switch expression="{settings.templateLayout}">
		<f:case value="listSlider">
			<div class="vinou-wine-list slider">
				<f:for each="{wines}" as="wine">
					<f:render partial="List/SlideItem" arguments="{wine: wine,settings:settings}" />
				</f:for>
			</div>
		</f:case>
		<f:case default="TRUE">
			<div class="vinou-wine-list regular" data-count="{f:if(condition:'{settings.itemsPerRow}',then:'{settings.itemsPerRow}',else:'5')}">
				<f:for each="{wines}" as="wine">
					<f:render partial="List/Wine" arguments="{wine: wine,settings:settings}" />
				</f:for>
			</div>
		</f:case>
	</f:switch>
</f:section>