<f:if condition="{value}">
	<tr id="{label}">
		<td class="label"><f:translate key="detail.{label}"/>:</td>
		<td class="value">
			<f:switch expression="{label}">
				<f:case value="alcohol">{value} Vol. %</f:case>
				<f:case value="bottlesize">{value} l</f:case>
				<f:case value="drinktemperature">{value} &deg;C</f:case>
				<f:case value="sweetness">{value} g/l</f:case>
				<f:case value="acid">{value} g/l</f:case>
				<f:case default="TRUE">{value}</f:case>
			</f:switch>
		</td>
	</tr>
</f:if>